body {
    background-color: #C3E3F7;
    font-family: "Georgia", serif;
    color: #0B0E1D;
}

.room-wrapper {
    max-width: 1100px;
    margin: 60px auto;
    display: flex;
    gap: 50px;
    align-items: center;
}

.side-illustration {
    text-align: center;
}

.room-img {
    width: 280px;
    margin-bottom: 20px;
}

.big-title {
    font-size: 44px;
    color: #4C5B88;
    margin: 0;
}

.accent-title {
    font-size: 48px;
    color: #81C5EE;
    margin-top: -10px;
}

.form-section {
    flex: 1;
}

.form-card {
    background: white;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.form-title {
    font-size: 28px;
    color: #4C5B88;
    font-weight: bold;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-top: 18px;
    font-size: 16px;
    color: #4C5B88;
}

input, select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #b7d7ee;
    font-size: 16px;
    margin-top: 5px;
    background-color: #F6FAFF;
}

.create-btn {
    margin-top: 30px;
    background-color: #81C5EE;
    padding: 14px 22px;
    border-radius: 12px;
    width: 100%;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s;
}

    .create-btn:hover {
        background-color: #6899D7;
        cursor: pointer;
    }
